body {
  margin: 0;
}

.app.background {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100vh;
  background-color: #f1efeb;
  padding:20px;
}

.app .container {
  width: 100%;
  max-width: 960px;
}

audio {
 vertical-align: middle;
}

@font-face {
  font-family: "MOEDICT";
  src: url(https://www.moedict.tw/MOEDICT.woff);
}

@font-face {
  font-family: "FiraSansOT";
  src: url(https://www.moedict.tw/fonts/FiraSansOT-Regular.woff);
}

ruby {
  font-family: "MOEDICT", "FiraSansOT", sans-serif;
  vertical-align: middle;
}

span.ui.button{
  margin-bottom:0.5em;
}