body {
  margin: 0;
  background: #f1efeb;
}

audio {
 vertical-align: middle;
}

@font-face {
  font-family: "MOEDICT";
  src: url(https://www.moedict.tw/MOEDICT.woff);
}

@font-face {
  font-family: "FiraSansOT";
  src: url(https://www.moedict.tw/fonts/FiraSansOT-Regular.woff);
}

ruby {
  font-family: "MOEDICT", "FiraSansOT", sans-serif;
  vertical-align: middle;
}

/*overwrite*/
.ui.main {
  margin: 10px 0px;
}
